<!-- Задача B. Лазер -->
<div class="time-memory">(Время 1с. Память 64мб)</div>

<p>Сегодня в НИИ Пете, как самому ответственному сотруднику, поручили провести очень важный эксперимент. Суть опыта заключается в том, чтобы расплавить плитку шоколада с помощью новой лазерной установки. Установка состоит из прямоугольного ячеистого оперативного поля размером n x m сантиметров и руки-робота. Каждая ячейка поля представляет собой квадрат размера 1 x 1. На руке-роботе расположены два лазера, направленные на поле перпендикулярно его плоскости. В любой момент времени лазеры попадают в центры некоторых двух клеток поля. Так как лазеры расположены на руке, то их движение происходит синхронно — при перемещении одного из лазеров на некоторый вектор, второй перемещается на тот же вектор.</p>
<p>Про эксперимент известно следующее:</p>
<ul>
  <li>изначально оперативное поле полностью покрывает шоколадка размером n x m, а также оба лазера находятся над полем и включены;</li>
  <li>шоколад, под воздействием лазера плавится только в пределах одной ячейки оперативного поля (над которой находится лазер), лазер должен попадать в центр ячейки поля;</li>
  <li>руку-робота можно передвигать только параллельно краям оперативного поля, после каждого перемещения лазеры должны указывать в центры ячеек;</li>
  <li>очень важно, чтобы в любой момент оба лазера находились над полем. Пете совсем не хочется стать вторым Гордоном Фрименом.</li>
</ul>
<p>Даны n и m, а также ячейки (x1, y1) и (x2, y2), над которыми изначально висят лазеры (xi — номер столбца, yi — номер строки). Будем считать, что строки нумеруются сверху вниз числами от 1 до m, а столбцы — числами от 1 до n слева направо. Необходимо найти количество ячеек оперативного поля, шоколад на которых не может быть расплавлен при соблюдении указанных правил.</p>

<h4>Входные данные</h4>
<p>В первой строке задано число t (1 ≤ t ≤ 10000) — количество наборов входных данных в тесте. В каждой из следующих t строк перечислены через пробел целые числа n, m, x1, y1, x2, y2 (2 ≤ n, m ≤ 10<sup>9</sup>, 1 ≤ x1, x2 ≤ n, 1 ≤ y1, y2 ≤ m). Ячейки (x1, y1) и (x2, y2) различны.</p>

<h4>Выходные данные</h4>
<p>В каждой из t строк выходного файла должен содержатся ответ на соответствующий набор входных данных.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
<pre>
2
4 4 1 1 3 3
4 3 1 1 2 2
</pre>
<pre>
8
2
</pre>
</details>
