<!-- Задача C. Список -->
<div><i>Ограничение по времени 2с
<br>Ограничение по памяти 256мб</i></div>

<p>Компания «Bersoft» работает над новой версией своего самого известного текстового редактора, Bord 2010. В Bord, как и во многих других текстовых редакторах, должна быть реализована возможность печати многостраничных документов. Пользователь перечисляет через запятую (без пробелов) номера страниц документа, которые он хочет распечатать.</p>

<p>Вам поручено написать часть программы, выполняющую «нормализацию» списка. На вход вашей программе подается список, который ввел пользователь. Ваша программа должна вывести этот список в формате l1-r1,l2-r2,...,lk-rk, где ri + 1 &lt; li + 1 для всех i от 1 до k - 1, и li ≤ ri. Новый список должен содержать все страницы которые ввел пользователь и ничего больше. Повторные появлений одной и той же страницы в списке пользователя следует игнорировать. В случае, если для некоторого элемента i нового списка li = ri, этот элемент необходимо выводить как li, а не «li - li».</p>

<p>Например, список 1,2,3,1,1,2,6,6,2 нужно вывести в виде 1-3,6.</p>

<h4>Входные данные</h4>
<p>В единственной строке содержится список, введенный пользователем. Всего в списке не меньше одного и не больше 100 чисел. Гарантируется, что этот список представляет собой не превосходящие 1000 натуральные числа, перечисленные через запятую, не содержит никаких других символов, кроме цифр и запятых, не может заканчиваться на запятую, и числа не содержат лидирующих нулей. К тому же строка не начинается с запятой и не содержит более одной запятой подряд.</p>

<h4>Выходные данные</h4>
<p>Выведите список в требуемом формате.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <code>1,2,3,1,1,2,6,6,2</code>
  <code>1-3,6</code>

  <h4>Пример 2</h4>
  <code>3,2,1</code>
  <code>1-3</code>

  <h4>Пример 3</h4>
  <code>30,20,10</code>
  <code>10,20,30</code>
</details>
