<!-- Задача D. Архитектор Вася -->
<div class="time-memory">(Время 2с. Память 256мб)</div>

<p>Однажды Вася играл в кубики. Все кубики в наборе имели правильную кубическую форму. Он был талантливым архитектором, но все равно башенка, которую он строил, постоянно разваливалась.</p>

<p>Рассмотрим процесс построения. Вася берет очередной кубик и кладет его сверху на уже построенную башенку так, что грани этого кубика параллельны граням ранее поставленных. Введем декартову систему координат на горизонтальной плоскости, на которую Вася ставит первый кубик. Тогда проекция i-ого кубика на эту плоскость представляет собой квадрат со сторонами, параллельными осям координат с противоположными углами в точках (x<sub>i,1</sub>, y<sub>i,1</sub>) и (x<sub>i,2</sub>, y<sub>i,2</sub>). Кубики отлиты из однородной пластмассы, масса кубика a x a x a составляет a<sup>3</sup> грамм.</p>

<p>Гарантируется, что любой кубик, кроме первого, Вася кладет на предыдущий, то есть площадь пересечения верхней грани предыдущего и нижней грани очередного всегда положительна.</p>

<p>Мы (в том числе и Вася) живем в нормальном мире, где действуют законы физической статики. И поэтому, возможно, если положить очередной кубик, то башенка упадет под воздействием силы тяжести. Вася последовательно кладет кубики до тех пор, пока хотя бы один кубик не выйдет из устойчивого состояния и не упадет вниз. Если это происходит, то Вася расстраивается и заканчивает строительство. Выведите количество кубиков в максимальной устойчивой башенке, то есть максимальное число m такое, что все башенки из кубиков 1, 2, ..., k для всех целых k от 1 до m являются устойчивыми.</p>

<h4>Входные данные</h4>
<p>В первой строке входных данных записано целое число n (1 ≤ n ≤ 100) — количество кубиков. В следующих n строках записаны по четыре числа x<sub>i,1</sub>, y<sub>i,1</sub>, x<sub>i,2</sub>, y<sub>i,2</sub> (x<sub>i,1</sub> ≠ x<sub>i,2</sub>, |x<sub>i,1</sub> - x<sub>i,2</sub>| = |y<sub>i,1</sub> - y<sub>i,2</sub>|) — координаты противоположных углов основания i-ого кубика. Координаты — это целые числа, по абсолютной величине не превосходящие 50.</p>

<p>Кубики заданы в том порядке, в котором Вася их ставит. Гарантируется, что площадь пересечения верхней грани кубика номер i - 1 и нижней грани кубика i строго больше нуля для всех i ≥ 2.</p>

<h4>Выходные данные</h4>
<p>Выведите количество кубиков в максимальной устойчивой башенке.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
<pre>
2
0 0 3 3
1 0 4 3
</pre>
  <code>2</code>

  <h4>Пример 2</h4>
<pre>
2
0 0 3 3
2 0 5 3
</pre>
  <code>1</code>

  <h4>Пример 3</h4>
<pre>
3
0 0 3 3
1 0 4 3
2 0 5 3
</pre>
  <code>3</code>
</details>

<details>
  <summary>Решение</summary>
<pre>
#include &lt;iostream&gt;
#include &lt;cmath&gt;
#include &lt;algorithm&gt;

using namespace std;

int x1[100], x2[100], y_1[100], y2[100];

int cube(int x) {
  return abs(x * x * x);
}

int check(int l, int r) {
  int sumx = 0;
  int sumy = 0;
  int vv = 0;
  for (int i = l; i &lt;= r; i++) {
    sumx += (x1[i] + x2[i]) * cube(x2[i] - x1[i]);
    sumy += (y_1[i] + y2[i]) * cube(x2[i] - x1[i]);
    vv += cube(x2[i] - x1[i]) * 2;
  }


  int lx = min(x1[l - 1], x2[l - 1]) * vv;
  int rx = max(x1[l - 1], x2[l - 1]) * vv;
  int ly = min(y_1[l - 1], y2[l - 1]) * vv;
  int ry = max(y_1[l - 1], y2[l - 1]) * vv;

  if (sumx &lt; lx || sumx > rx || sumy &lt; ly || sumy > ry)
    return 0;
  return 1;
}

int main() {
  int n; // число кубиков
  cin >> n;
  for (int i = 0; i &lt; n; i++) {
    cin >> x1[i] >> y_1[i] >> x2[i] >> y2[i];
    for (int j = 1; j &lt;= i; j++)
      if (!check(j, i)) {
        cout &lt;&lt; i;
        return 0;
      }
  }

  cout &lt;&lt; n;
}
</pre>
</details>
