<!-- Задача B. Распродажа -->
<div class="time-memory">(Время 2с. Память 256мб.)</div>

<p>Однажды Вася попал на распродажу старых телевизоров. Всего на распродаже n телевизоров. Цена телевизора номер i — ai бурлей. Причем часть телевизоров имеет отрицательную цену — их хозяева готовы сами заплатить Васе за то, что он избавит их от ненужной техники. Вася может «купить» любые телевизоры, какие захочет. Но хоть он и очень сильный, Вася может унести не больше m телевизоров, а возвращаться на распродажу второй раз у него нет желания. Помогите Васе: найдите наибольшую сумму денег, которую он сможет заработать.</p>

<h4>Входные данные</h4>
<p>В первой строке через пробел записано два целых числа n и m (1 ≤ m ≤ n ≤ 100) — количество телевизоров на распродаже и количество телевизоров, которое может унести Вася. На следующей строке через пробел записано n целых чисел ai (-1000 ≤ ai ≤ 1000) — цены телевизоров.</p>

<h4>Выходные данные</h4>
<p>Выведите одно число — максимальную сумму денег, которую заработает Вася, если он может унести не больше m телевизоров.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
<pre>
5 3
-6 0 35 -2 4
</pre>
  <code>8</code>

  <h4>Пример 2</h4>
<pre>
4 2
7 0 0 -7
</pre>
  <code>7</code>
</details>
