<!-- Задача A. Возрастающая последовательность -->
<div class="time-memory">(Время 1с. Память 64мб.)</div>

<p>Последовательность a0, a1, ..., at - 1 называется возрастающей если ai - 1 &lt; ai для всех i: 0 &lt; i &lt; t.</p>

<p>Вам задана последовательность b0, b1, ..., bn - 1 и натуральное число d. Каждый ход выбирается один из элементов последовательности и увеличивается на d. Какое минимальное число ходов необходимо совершить, чтобы сделать последовательность возрастающей?</p>

<h4>Входные данные</h4>
<p>Первая строка входных данных содержит два натуральных числа n и d (2 ≤ n ≤ 2000; 1 ≤ d ≤ 106). Вторая строка содержит элементы последовательности b0, b1, ..., bn - 1 (1 ≤ bi ≤ 106). Числа в строках разделяются пробелами.</p>

<h4>Выходные данные</h4>
<p>Выведите искомое наименьшее количество ходов.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
<pre>
4 2
1 3 3 2
</pre>
  <code>3</code>
</details>
