<!-- Задача A. Бросок кубика -->
<div><i>Ограничение по времени 1с
<br>Ограничение по памяти 64мб</i></div>

<p>Якко, Вакко и Дот, известные на весь мир анимашки, захотели отдохнуть от съёмок в мультфильмах и решили взять отпуск, чтобы немного попутешествовать. Якко мечтал поехать в Пенсильванию, свою родину и родину своих предков. Вакко склонялся к Тасмании, ее пляжам, солнцу и морю. Дот выбрала Трансильванию как самое таинственное и непредсказуемое место.</p>

<p>Но, к их большому сожалению, отпуск оказался таким коротким, что его хватит для посещения только одного места из трёх вышеперечисленных. Поэтому Якко, как самый умный, предложил поистине гениальную идею: пусть каждый бросит обычный шестигранный кубик, а у кого выпадет больше очков — тот и повезёт всех в место своей мечты.</p>

<p>Якко выбросил Y очков, Вакко — W очков. Осталась Дот. Но она не спешила. Дот хотела знать точно, с какой вероятностью ей удастся посетить Трансильванию.</p>

<p>Известно, что Якко и Вакко — настоящие джентльмены, поэтому, в случае равенства количества их очков и очков Дот, предпочтение отдаётся Дот.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла даны два натуральных числа Y и W — результаты бросков Якко и Вакко.</p>

<h4>Выходные данные</h4>
<p>Вывести искомую вероятность в виде несократимой дроби в формате «A/B», где A — числитель, а B — знаменатель. Если искомая вероятность равна нулю, выведите «0/1». Если искомая вероятность равна единице, выведите «1/1».</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <code>4 2</code>
  <code>1/2</code>

  <p>Дот поедет в Трансильванию, если сможет выкинуть 4, 5 или 6 очков.</p>
</details>
