<!-- Задача A. Учет энергопотребления -->
<div><i>Ограничение по времени 1с
<br>Ограничение по памяти 256мб</i></div>

<p>Васе стало интересно, сколько его любимый ноутбук потребляет электроэнергии за день. У его ноутбука есть три режима. В режиме нормальной работы он потребляет P1 Вт в минуту. Через T1 минут после того, как Вася с последний раз двинул мышью или нажал кнопку на клавиатуре, на дисплее запускается скринсейвер и потребление энергии меняется до P2 Вт в минуту. И, наконец, через T2 минут после запуска скринсейвера ноутбук переходит в режим "сна", в котором потребляет P3 Вт в минуту. Если Вася двигает мышью или касается клавиатуры в момент, когда ноутбук находится во втором или в третьем режимах, ноутбук возвращается в первый режим энергопотребления. Работу Васи за ноутбуком можно разбить на n временных отрезков [l1, r1], [l2, r2], ..., [ln, rn], в течение которых он только и делал, что работал мышью и нажимал на клавиатуру, а в промежутках между ними ничего этого не делал. Посчитайте, какое суммарное количество энергии было потреблено ноутбуком за период [l1, rn].</p>

<h4>Входные данные</h4>
<p>Первая строка содержит 6 целых чисел n, P1, P2, P3, T1, T2 (1 ≤ n ≤ 100, 0 ≤ P1, P2, P3 ≤ 100, 1 ≤ T1, T2 ≤ 60). Следующие n строк содержат описание отрезков работы Васи за ноутбуком. i-я из этих строк содержит два целых числа li и ri (0 ≤ li &lt; ri ≤ 1440, ri &lt; li + 1 для i &lt; n), обозначающие моменты начала и конца соответствующего отрезка.</p>

<h4>Выходные данные</h4>
<p>Выведите единственное число — ответ на задачу.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
<pre>
1 3 2 1 5 10
0 10
</pre>
  <code>30</code>

  <h4>Пример 2</h4>
<pre>
2 8 4 2 5 10
20 30
50 100
</pre>
  <code>570</code>
</details>
