<!-- Задача D. Треугольники -->
<div class="time-memory">(Время 2с. Память 64мб)</div>

<p>Маленький Петя очень любит рисовать. Он нарисовал N красных и M синих точек на плоскости, причем так что никакие 3 из них не лежат на 1 прямой. Теперь ему интересно, сколько есть различных треугольников с вершинами в красных точках, не содержащих в себе ни одной синей точки.</p>

<h4>Входные данные</h4>
<p>Первая строка содержит 2 целых неотрицательных числа N и M (0 ≤ N ≤ 500, 0 ≤ M ≤ 500) - количество красных и синих точек, соответственно. Следующие N строк содержат по 2 целых числа - координаты красных точек. Следующие M строк содержат по 2 целых числа - координаты синих точек. Все координаты по модулю не превосходят 10<sup>9</sup>.</p>

<h4>Выходные данные</h4>
<p>На выходе должно быть одно число - искомое количество треугольников с вершинами в красных точках, не содержащих в себе ни одной синей точки.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
<pre>
4 1
0 0
10 0
10 10
5 4
2 1
</pre>
  <code>2</code>

  <h4>Пример 2</h4>
<pre>
5 5
5 10
6 1
8 6
-6 -7
7 -1
5 -1
10 -4
-10 -8
-10 5
-2 -8
</pre>
  <code>7</code>
</details>
