<!-- Задача D. Два пути -->
<div class="time-memory">(Время 2с. Память 64мб)</div>

<p>Как вы знаете, Васин брат живет во Флатландии. Во Флатландии n городов, соединенных n - 1 двусторонней дорогой. Города пронумерованы от 1 до n. Из любого города можно добраться до любого другого двигаясь по дорогам.</p>

<p>Компания «Два пути», в которой работает Васин брат, выиграла тендер на ремонт двух путей во Флатландии. Путем называется последовательность различных городов, последовательно соединенных дорогами. Пути, которые надо отремонтировать, компания может выбрать самостоятельно. Единственное условие, накладываемое тендером — они не должны пересекаться (то есть иметь общих городов).</p>

<p>Известно, что прибыль, которую получит компания «Два пути», равна произведению длин выбранных двух путей. Считая длину каждой дороги равной 1, а длину пути равной количеству дорог в ней, найдите максимальную возможную прибыль компании.</p>

<h4>Входные данные</h4>
<p>В первой строке записано целое число n (2 ≤ n ≤ 200), где n — количество городов в стране. Далее в n - 1 строке записаны сами дороги. Каждая строка содержит пару номеров соединяемых городов ai, bi (1 ≤ ai, bi ≤ n).</p>

<h4>Выходные данные</h4>
<p>Выведите максимальную возможную прибыль.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
<pre>
4
1 2
2 3
3 4
</pre>
  <code>1</code>

  <h4>Пример 2</h4>
<pre>
7
1 2
1 3
1 4
1 5
1 6
1 7
</pre>
  <code>0</code>

  <h4>Пример 3</h4>
<pre>
6
1 2
2 3
2 4
5 4
6 4
</pre>
  <code>4</code>
</details>
