<!-- Задача E. Шагом марш! -->
<div class="time-memory">(Время 1с. Память 64мб.)</div>

<p>Добро пожаловать в армию, сынок. Джек служит рядовым и у него проблемы со строевой подготовкой. У него никак не получается делать как все: шаг левой, шаг правой, шаг левой, шаг правой и т.д. Заместо этого он запомнил некоторую последовательность действий и повторят ее по циклу. Например, он может запомнить «правой, левой, пропустить» и это значит, что первый шаг он сделает правой ногой, потом сделает шаг левой ногой, а потом и вовсе возьмет перерыв в то время как все остальные в строю делают очередной шаг. Затем он начнет повторять свои действия далее по циклу. Марширую таким образом он будет попадать в общий шаг лишь только в одной трети случаев.</p>

<p>Так как приближается парад Джек хочет модифицировать последовательность, которой он придерживается так, чтобы попадать в общий шаг с большей вероятностью. Так как Джек не любит напрягаться, он решает больше отдыхать во время марша — то есть модификация последовательности его шагов заключается в возможном добавлении пауз в нее (в любые позиции). Также он недавно обратил внимание, что ходить два раза подряд с одной ноги крайне неудобно. Поэтому в результате модификации во время парада он не должен шагать подряд с одной ноги.</p>

<p>Спасите рядового Джека. Задана текущая последовательность шагов. Вычислите какую наибольшую долю попаданий в общий шаг он может иметь после модификации ее.</p>

<h4>Входные данные</h4>
<p>Входные данные состоят из единственной непустой строки, состоящий из символов 'L', 'R' и 'X', где 'L' обозначает шаг левой ногой, 'R' — правой, а 'X' — отдых на время одного шага. Длина заданной последовательности не превосходит 10⁶.</p>

<h4>Выходные данные</h4>
<p>Выведите максимальную возможную долю попаданий в общий шаг Джека в процентах. Выводите дробную часть ровно с 6 знаками после запятой, округляя вниз последующую дробную часть.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <code>X</code>
  <code>0.000000</code>

  <h4>Пример 2</h4>
  <code>LXRR</code>
  <code>50.000000</code>
  <p>Во втором примере, если добавить две паузы, чтобы получить LXXRXR, то Джек будет маршировать: LXXRXRLXXRXRL... заместо LRLRLRLRLRLRL... и будет делать верный шаг в половине случаев. Если же не добавить пауз вообще, то получится некорректная последовательность шагов, так как Джек будет подряд делать шаг справа.</p>
</details>
