<!-- Задача C. Задача комментатора -->
<div class="time-memory">(Время 1с. Память 64мб)</div>

<p>Олимпиада в Беркувере в самом разгаре. Здесь у каждого свои задачи — спортсмены борются за медали, а комментаторы за наиболее удобные места ведения репортажей. Сегодня основные спортивные мероприятия пройдут на трех круглых стадионах и задача комментатора выбрать оптимальную точку наблюдения, то есть такую из которой видны все три стадиона. Так как все состязания одинаково важны — то и стадионы должны быть видны из этой точки под одинаковым углом. Если таких точек несколько, то более предпочтительной является та, из которой угол обзора каждого стадиона максимален.</p>

<p>Помогите известному в Берляндии комментатору Г. Берниеву найти оптимальную точку наблюдения. Учтите, что стадионы не загораживают друг друга — комментатор может видеть легко наблюдать один стадион сквозь другой.</p>

<h4>Входные данные</h4>
<p>Входные данные состоят из трех строк, каждая из которых описывает положение одного стадиона. Строки имеют формат x, y, r, где (x,y) — это координаты центра стадиона (-10³ ≤ x, y ≤ 10³), а r (1 ≤ r ≤ 10³) — это его радиус. Все числа во входных данных целые. Стадионы не пересекаются, а их центры не лежат на одной прямой.</p>

<h4>Выходные данные</h4>
<p>Выведите координаты искомой точки с пятью знаками после десятичной точки. Если решения не существует, то программа не должны выводить что либо. Иными словами она должны оставить выходные данные пустыми.</p>

<details>
  <summary>Пример</summary>
<pre>
0 0 10
60 0 10
30 30 10
</pre>
  <code>30.00000 0.00000</code>
</details>

<details>
  <summary>Решение</summary>

  <div>
    <a href="https://codeforces.com/contest/2/problem/C" target="_blank">Задача 2C</a>
    <br><a href="https://codeforces.com/contest/2" target="_blank">Codeforces Beta Round 2 2010-02-25</a>
  </div>

<pre>
#include &lt;iostream&gt;
#include &lt;cmath&gt;
#include &lt;iomanip&gt;

using namespace std;

int dir[4][2] = { {1,0},{-1,0},{0,1},{0,-1} };
double x = 0, y = 0;

struct node {
  double x, y, r;
} c[3];

double p2(double x) {
  return x * x;
}

double dis(double x, double y, double xx, double yy) {
  return sqrt(p2(x - xx) + p2(y - yy));
}

double f(double x, double y) {
  double tmp[3];
  double ans = 0;

  for (int i = 0; i &lt; 3; i++)
    tmp[i] = dis(x, y, c[i].x, c[i].y) / c[i].r;
  for (int i = 0; i &lt; 3; i++)
    ans += p2(tmp[i] - tmp[(i + 1) % 3]);

  return ans;
}

int main() {
  for (int i = 0; i &lt; 3; i++) {
    cin >> c[i].x >> c[i].y >> c[i].r;
    x += c[i].x / 3;
    y += c[i].y / 3;
  }
  double step = 1;
  double eps = 1e-6;
  while (step > eps) {
    double tmp = f(x, y);
    int tag = -1;
    for (int i = 0; i &lt; 4; i++) {
      double cnt = f(x + dir[i][0] * step, y + dir[i][1] * step);
      if (cnt &lt; tmp) {
        tmp = cnt;
        tag = i;
      }
    }
    if (tag == -1) {
      step /= 2;
    } else {
      x = x + dir[tag][0] * step;
      y = y + dir[tag][1] * step;
    }
  }
  if (f(x, y) &lt; eps) {
    cout &lt;&lt; fixed &lt;&lt; setprecision(5) &lt;&lt; x &lt;&lt; ' ' &lt;&lt; y;
  }
}
</pre>
</details>
