<!-- Задача A. Числа -->
<div class="time-memory">(Время 1с. Память 64мб)</div>

<p>Маленький Петя очень любит числа. Недавно он определил, что 123 в системе счисления по основанию 16 состоит из двух цифр: старшая равна 7, а младшая — 11. Следовательно, сумма цифр 123 по основанию 16 равна 18.</p>

<p>Сейчас ему интересно, чему равно среднее арифметическое значение суммы цифр числа A, записанного во всех системах исчисления от 2 до A - 1, включительно.</p>

<p>Все подсчеты следует производить в десятичной системе. Результат нужно вывести в виде несократимой дроби, записанной в десятичной системе исчисления.</p>

<h4>Входные данные</h4>
<p>На вход дается единственное число A (3 ≤ A ≤ 1000).</p>

<h4>Выходные данные</h4>
<p>Вывести искомое среднее арифметическое значение в виде несократимой дроби в формате «X/Y», где X — числитель, а Y — знаменатель.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <code>5</code>
  <code>7/3</code>

  <h4>Пример 2</h4>
  <code>3</code>
  <code>2/1</code>
  <p>В первом примере число 5, записанное в системах исчисления по основаниям от 2 до 4 имеет вид: 101, 12, 11. Суммы цифр равны 2, 3 и 2, соответственно.</p>
</details>
