<!-- Задача B. Джек-попрыгунчик -->
<div><i>Ограничение по времени 1с
<br>Ограничение по памяти 64мб</i></div>

<p>В настоящее время Джек работает над развитием своих навыков прыгать в длину. Сейчас он находится в точке 0 координатной прямой. Его цель — оказаться в точке x. В целях тренировки его первый прыжок будет иметь длину ровно 1, второй — ровно 2 и т.д. Каждый раз он выбирает прыгнуть ему влево или вправо.</p>

<p>Какое минимальное количество прыжков должен совершить Джек, чтобы попасть в точку x.</p>

<h4>Входные данные</h4>
<p>Входные данные содержат целое число x (-10⁹ ≤ x ≤ 10⁹).</p>

<h4>Выходные данные</h4>
<p>Выведите наименьшее количество прыжков, необходимых для попадания в x.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <code>2</code>
  <code>3</code>

  <h4>Пример 2</h4>
  <code>6</code>
  <code>3</code>

  <h4>Пример 3</h4>
  <code>0</code>
  <code>0</code>
</details>
